.hero{
    width: 100%;
    height: 500px;
    background-image: url(../images/hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .overlay{
        position: absolute;
        background-color: rgba(0,0,0,0.4);
        width: 100%;
        height: 100%;
    }

    .container{
        text-align: center;
        font-family: 'proxima-nova';
        color: white;
        // background-color: red;
        display: inline;
        z-index: 0;

        h1{
            font-size: 60px;
        }
        p{
            width: 500px;
            font-size: 20px;
            font-style: italic;
            padding: 20px;
        }
        .read-more{
            margin: 0 auto;
            background-color: #79ADDC;
            color: white;
            padding: 11px 21px;
            border: none;
            width: 130px;
            height: 40px;
            font-size: 15px;
            cursor: pointer;
        }
    }
}