*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // outline: auto;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(26, 28, 24);
}

h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 16px;
}

@font-face {
    font-family: 'proxima';
    src: url(/fonts/FontsFree-Net-Proxima-Nova-ExCn-Reg.otf);
}

.site-container{
    max-width: 100%;
    min-height: 500px;
}
// blue #79ADDC